body {
  padding: 0;
  margin: 0;
  background-color: 666666;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #264D73;
  color: #fff
}

  .header h1 {
    margin-left: 8px;
  }

.navbar {
  display: flex;
}

nav {
  display: flex;
  gap: 10px;
}

.divider {
  font-weight: bold;
}

.footer {
  background-color: #666666;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 150px;
}

  .footer a {
    color: lightskyblue;
    margin: 8px;
    font-size: 24px;
  }